*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


.gradle/
.idea/
*.iml
spring-batch-index/data/
spring-batch-index/build/
spring-batch-index/.gradle/
elk-quicky-webapp/build/
elk-quicky-webapp/.gradle/
